@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* sett color and font family too body */
body {
    font-family: 'Fira Mono', monospace;
    font-weight: 500;
    color: #2C1C19;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #2C1C19;
}