@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Lato:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

/* sett color and font family too body */
body {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    color: #212121;
    min-height: 100vh;
}
/* sett style to h1 and h2 elements */
h1, h2 {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

#logo {
    float: left;
    font-size: 300%;
}

#menu {
    font-size: 130%;
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 15px;
    text-align: center;
}
#menu, #logo {
    line-height: 75px;
}

a {
    text-decoration: none;
    color: #212121;
    padding: 10px;
}

/* transition background of menu */

#menu a:hover {
    background-color: #ffb7c5;
    transition: all 0.7s;
}

.active {
    background-color: #ffb7c5;
}

/* hero img */
#hero-img-out {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-img {
    height: 500px;
    width: 100%;
    background: url(../images/chef.jpg) no-repeat center center;
}

#presentation {
    font-size: 150%;
    letter-spacing: 2px;
    width: 350px;
    height: 260px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: #ffb7c5;
    opacity: 0.8;

    bottom: 30px;
    left: 50px;
    position: absolute;

}

#ramen-story > h2 {
    text-align: center;
    font-size: 55px;
}

#ramen-story h2 {
    font-size: 55px;
}

#ramen-story p {
    font-size: 30px;
}

hr{
    border-top: 1px solid #fafafa;
    width: 100%;
    margin: 5px 0;
}

/* a fixed img in background with a sliding animation*/

#origin{
    text-align: left;
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(../images/origin.jpg)repeat fixed;
    color: #fafafa;
    animation: animate-background linear 40s infinite;
}

#origin h2 {
   color: #fafafa;
   float: left;
   padding: 20px;
}

#origin > p {
    width: 50%;
    padding: 20px;
}

#post-war{
    text-align: left;
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(../images/origin.jpg)repeat fixed;
    color: #fafafa;
    float: right;
    margin-top: 20px;
    animation: animate-background linear 40s infinite;
}

#post-war > h2 {
    color: #fafafa;
    width: 50%;
    float: right;
}

#post-war > p {
    width: 50%;
    float: right;
}

#modern-era {
    text-align: left;
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(../images/origin.jpg)repeat fixed;
    color: #fafafa;
    float: left;
    margin-top: 20px;
    animation: animate-background linear 40s infinite;
}
/* animation for horizontal slide */
@keyframes animate-background {
	from { background-position: 0px 0px; } 
	to { background-position: 3501px 0px; }
}

#modern-era > h2 {
    color: #fafafa;
    padding: 20px;
}

#modern-era > p {
    width: 50%;
    padding: 20px;
}
/* too keep the footer to the bottom of the page */
footer{
   clear: both;
   position: relative;
   height: 50px;
   width: 100%;
   bottom: 0;
   left: 0;
}
/* Center the content */
.social-media{
    text-align: center;
}

.social-media > li {
    display: inline;
    line-height: 75px;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.social-media i:hover {
    color: #ffb7c5;
}

/*gallery style in grid */

.grid-image {
    clear: both;
    --gap: 16px;
    --num-cols: 4;

    box-sizing: border-box;
    padding: var(--gap);
    min-height: 0;
    
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    gap: var(--gap);
}

.grid-row-2 {
    grid-row: span 2;
}

.grid-column-2 {
    grid-column: span 2;
}

/* the hovering styles for the img in the grid*/

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.img-wrapper > img {
    display: inline-block;
    width: 100%;
    height: 100%;
} 

.img-wrapper > .text {
    position: absolute;
    inset: 0;
    font-size: 120%;
    padding: 25px;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper > img, 
.img-wrapper > .text {
    transition: .7s ease-in-out;
}

/* adding fade animations */
.img-wrapper > .text.fade {
    opacity: 0;
}

.img-wrapper:hover > .text.fade {
    opacity: 1;
}

/* adding blur too all img */
.img-wrapper:hover > img.blur {
    filter: blur(2px);
}

/* adding a zoom effect */
.img-wrapper:hover > img.zoom-out {
    transform: scale(0.9);
}

/* for the sign-up page */

.form {
    clear: both;
    background: url(../images/sign-up.jpg)fixed;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.sign-up {
    margin: 200px 30% 0 0;
    color: #fafafa;
    background-color: rgba(60, 60, 60, 0.8);
    max-width: 300px;
    position: absolute;
    left: 20%;
    padding: 35px;
}

.sign-up > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.sign-up >  input label{
    display: inline-block;
}


.form-name {
    position: relative;
    top: 17px;
    background-color: rgb(60, 60, 60, 0.8);
    left: 5px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 30px;
    margin: 10px 0 25px;
    border: 1px solid #fafafa;
    border-radius: 5px;
}

.text-input:hover {
    border-color: #ffb7c5;
}

.join {
    margin-top: 15px;
    border-radius: 5px;
    padding: 15px 32px 15px 32px;
    font-size: 150%;
    background-color: #ffb7c5;
    color: #212121;
}

/* For screens of 900px */
@media screen and (max-width: 900px) {
    /* Turning animations off in mobil devices */
    #origin{
        animation: none;
    }
    #post-war{
        animation: none;
    }
    #modern-era{
        animation: none;
    }
    #origin > p {
        padding: 0px;
    }
    #modern-era > p {
        padding: 0;
    }
    .grid-image {
        clear: both;
        --num-cols: 2;
    }
    .grid-row-2 {
        grid-row: span 1;
    }
    .grid-column-2 {
        grid-column: span 1;
    }
    .grid-column-2-mid{
        grid-column: span 2;
    }
    .grid-row-2-mid {
        grid-row: span 2;
    }
}

/* For screens 540px and down */
@media screen and (max-width: 540px) {
    #logo {
        font-size: 200%;
        width: 100%;
        text-align: center;
    }
    #menu {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    #menu li {
        margin-right: 0;
    }

    .active-mobile {
        background-color: #ffb7c5;
    }

    #hero-img {
        height: 500px;
        width: 100%;
        background: url(../images/chef.jpg) no-repeat center center;
    }

    #ramen-story{
        display: flex;
        flex-direction: column;

    }

    #origin > p {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }

    #post-war > h2 {
        float: left;
        padding: 20px;
    }
    #post-war > p {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }


    #modern-era > p {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }

    .grid-image {
        --num-cols: 1;
    }
    .grid-column-2-mid {
        grid-column: span 1;
    }   

    .form {
        margin-top: 60%;
        letter-spacing: 3px;
    }

    .sign-up {
        margin: 0;
        left: 0;
        max-width: 100%;
    }
    .social-media i {
        font-size: 150%;
    }
}