@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* sett color and font family too body */
body {
    font-family: 'Fira Mono', monospace;
    font-weight: 500;
    color: #3a3a3a;
}
/* sett style to h1 and h2 elements */
h1, h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 300%;

}

#menu {
    font-size: 130%;
    float: right;
}



#menu li {
    float: left;
    list-style-type: none;
    margin-right: 15px;
    text-align: center;
}
#menu, #logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* transition background of menu */

#menu a:hover {
    background-color: #f79ac0;
    transition: all 0.7s;
}

.active {
    background-color: #f79ac0;
}

/* spinning animation 45 sec one spin */
#cherry-img{
    height: 400px;
    padding-top: 120px;
    background: url(../images/cherry.png) no-repeat center center;
    background-size: 400px;
    animation: rotation 45s infinite linear;
}


/* makes the img spin */
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

#short-story{
    text-align: center;
    font-size: 250%;
}

hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.right-story {
    width: 45%;
    float: right;
    line-height: 30px;
    clear: both;
    margin: 10px 0;
}

.left-story {
    width: 45%;
    float: left;
    line-height: 30px;
    clear: both;
    margin: 10px 0;
}

#picture-origin {
    width: 300px;
    height: 150px;
    padding: 30px;
    float: left;
    margin: 0 auto;
    background: url(../images/main-ramen.png)no-repeat;
    background-size: contain;
}

#picture-postwar {
    width: 300px;
    height: 150px;
    padding: 30px;
    float: right;
    margin: 0 auto;
    background: url(../images/red-sun.png)no-repeat;
    background-size: contain;
}

#picture-modern {
    width: 300px;
    height: 150px;
    padding: 30px;
    float: left;
    margin: 0 auto;
    background: url(../images/fuji.png)no-repeat;
    background-size: contain;
}

footer{
   clear: both;
   position: relative;
   height: 50px;
}

.social-media{
    text-align: center;
}

.social-media > li {
    display: inline;
    line-height: 75px;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.social-media i:hover {
    color: #f79ac0;
}

/*gallery style used help from */
.container {
    width: 60%;
    margin: 5rem auto; 
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block; 
}

.gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery-item-2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-item-3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-item-4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery-item-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}

.gallery-item-6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
}

/* for the sign-up page */

.form {
    clear: left;
    background: url(/assets/images/sign-up.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.sign-up {
    margin: 200px 30% 0 0;
    color: #fafafa;
    background-color: rgba(60, 60, 60, 0.5);
    max-width: 600px;
    position: absolute;
    left: 20%;
    padding: 35px;
}

.sign-up > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 30px;
    margin: 10px 0 25px;
    border: 1px solid #fafafa;
    border-radius: 5px;
}

.text-input:hover {
    border-color: #f79ac0;
}

.join {
    margin-top: 15px;
    border-radius: 5px;
    padding: 15px 32px 15px 32px;
    font-size: 150%;
    background-color: #f79ac0;
    color: #3a3a3a;
}

@media screen and (max-width: 950px) {

    #menu {
        clear: right;
        float: right;
        line-height: 25px;
        margin-bottom: 10px;
        margin-left: 30px;
    }
    #cherry-border {
        padding: 35px;
    }
}
@media screen and (max-width:390px) {
    #menu {
        font-size: 100%;
    }
    #cherry-border {
        display: none;
    }
    .right-story {
        width: inherit;
        left: 0;
        display: block;
    }

    .left-story {
        width: inherit;
        left: 0;
        display: block;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        padding: 1px;
    }
}